/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.lp-top{
  position: relative;
  height: 600px;
  background-image: image-url("lp_img.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  h1{
    position: absolute;
    top: 100px;
    left: 5%;
    display: inline-block;
    padding: 0 55px;
  }
  
  h1:before, h1:after{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  h1:before {left: 0;}
  h1:after {right: 0;}
  .login-form{
  position: absolute;
  top: 20%;
  right: 50px;
  width: 220px;
  }
}
.content{
  padding: 20px auto;
  h2{
    margin: 50px auto 10px;
    text-align: center;
  }
}
.title{
  position: relative;
  background-image: image-url("siori_title_bgd.jpg");
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  span{
    position: absolute;
    font-size: 400%;
    color: #e6e6e6;
    top: 10px;
    left: 0px;
    padding: 10px 100px;
    background-color: rgba(0,0,0,0.6);
    max-width: 80%;
    max-height: 170px;
    overflow: hidden;
  }
  h3{
    position: absolute;
    top: 200px;
    background-color: rgba(0,0,0,0.6);
    padding: 0px 100px;
    color: #e6e6e6;
  }
}
.spot-fields{
 padding: 0px 50px 0px 100px;
 margin: 0px 0px 50px 0px;
.spot-content{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.spot-content:before, .spot-content:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.spot-content:before {left: 10px;}
.spot-content:after {right: 10px;}
.spot-content p {
    margin: 0; 
    padding: 0;
    font-size: 16px;
}
}

.siori-index{
  .col-md-4:first-child{
    .btn{
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: dashed 1px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      height: 80%;
      width: 80%;
      line-height: 100px;
      font-size: 30px;
      margin: 20px 0;
    }
    .btn:hover {
    border-style: dotted;
    background: #67c5ff;
    color: #ffffff;
    }
  }
  .col-md-4{
    padding: 0px;
    height: 200px;
    
    .siori-content{
      width: 80%;
      height: 80%;
      padding: 0.5em 1em;
      margin: 20px 0;
      color: #5d627b;
      background: white;
      border-top: solid 5px #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
  }
}
