<div class="container siori-index">
  <div class="row">
    <div class="col-md-4">
      <div class="siori-content">
        <%= link_to '新しいしおりを作成する', new_siori_path %>
      </div>
    </div>
    <% current_user.travel_groups.each do |travel_group| %>
      <div class="col-md-4">
        <div class="siori-content">
          <p>出発日：<%= travel_group.siori.departure_date ? travel_group.siori.departure_date : '未定' %></p>
          <p>タイトル：<%= travel_group.siori.content %></p>
          <p><%= link_to '詳細表示', siori_path(travel_group.siori) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
