<div>
  <%= link_to '新しいしおりを作成する', new_siori_path %>
</div>
<% current_user.travel_groups.each do |travel_group| %>
  <div>
    <p><%= travel_group.siori.content %></p>
    <p><%= travel_group.siori.departure_date %></p>
  </div>
<% end %>
